{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stoyan Staynov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {#    TODO remove these two cache lines when deploying  #}
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <!-- css included -->
    <link rel="stylesheet" href="{% static "website/css/normalize.mind41d.css" %}">
    <link rel="stylesheet" href="{% static "website/css/base.css" %}">
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="{% static "website/js/main.js" %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="text" style=" height: 10vh; color: #fff; position: absolute;margin: auto;left: 0;right: 0;top: 0; bottom: 0;"></div>
    <div id="container">
        <video autoplay="true" id="videoElement">

        </video>
    </div>

</body>

</html>