{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stoyan Staynov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

    {#    TODO remove these two cache lines when deploying  #}
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <!-- css included -->
    <link rel="stylesheet" href="{% static "website/css/normalize.mind41d.css" %}">
    <link rel="stylesheet" href="{% static "website/css/base.css" %}">
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="{% static "website/js/main.js" %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="logo"></div>

<div class="c-joke"></div>

<div class="loading-indicator">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 130 130" overflow="visible" enable-background="new 0 0 130 130" id="progress"><circle fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" cx="64.8" cy="64.8" r="59.8"></circle><circle class="styled" fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" cx="64.8" cy="64.8" r="59.8"></circle></svg>
</div>
<p><b class="percentage"></b></p>

<div class="c-overlay-container">
    <div class="e-first-overlay"><div class="text">Поръчай си кюфте!</div></div>
    <div class="e-second-overlay"><div class="text">Сканирай усмивката на кюфтето</div></div>
    <div class="e-third-overlay"><div class="text">Изчакай за изненада</div></div>

    <button class="e-btn-next">Следващо</button>

</div>
    <div id="container">
        <video autoplay="true" id="videoElement">

        </video>
    </div>

</body>

</html>