{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stoyan Staynov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {#    TODO remove these two cache lines when deploying  #}
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <!-- css included -->
    <link rel="stylesheet" href="{% static "website/css/normalize.mind41d.css" %}">
    <link rel="stylesheet" href="{% static "website/css/base.css" %}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="{% static "website/js/main.js" %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<body>

    <div id="container">
        <video autoplay="true" id="videoElement">

        </video>
    </div>

</body>

</html>