body {
  overflow: hidden; }

* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #f9f5ef
}

.c-relative-container {
  width: 100%;
  height: 100%;
  position: relative; }

.c-main-content {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 1220px;
  margin: auto; }

.c-browser {
  width: 125px;
  height: 85px;
  margin: auto;
  border-top: 20px solid #333;
  -webkit-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.75);
  cursor: pointer; }
  .c-browser.big {
    cursor: default; }
  .c-browser .c-browser-buttons {
    position: absolute;
    margin: 0;
    padding-left: 10px;
    top: -13px;
    font-size: 0; }
  .c-browser .e-browser-button {
    width: 8px;
    height: 8px;
    margin-left: 2px;
    display: inline-block;
    border-radius: 100%; }
  .c-browser .btn-close {
    background-color: red; }
  .c-browser .btn-minimize {
    background-color: greenyellow; }
  .c-browser .btn-enlarge {
    background-color: #4294f0; }
  .c-browser .c-browser-screen {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    left: 10px;
    top: 10px; }

.c-details {
  margin-top: 20vh;
  font-size: 26px;
  line-height: 42px;
  text-align: center; }

.c-container-footer {
  width: 100%;
  max-width: 1020px;
  height: 40px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.c-find-me-container {
  width: 33.33333%;
  height: 100%;
  float: left;
  display: inline-block; }

.c-find-me {
  width: 40px;
  height: 170px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center; }
  .c-find-me a {
    font-size: 14px;
    color: #000;
    text-decoration: none; }

.c-social-container {
  width: 33.33333%;
  height: 100%;
  display: inline-block; }

.e-social-item {
  margin-top: 10px;
  display: inline-block; }
  .e-social-item img {
    width: 25px; }

.c-something-container {
  width: 40px;
  height: 170px;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center; }

.c-something {
  margin-top: 15px; }
  .c-something a {
    font-size: 14px;
    color: #000;
    text-decoration: none; }

html {
  font-family: 'Wire One', sans-serif; }
