* {
    box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #f9f5ef;
}

.logo {
    background-image: url(../img/happy-logo.png);
    width: 135px;
    height: 86px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 15;
}

.c-overlay-container {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.e-first-overlay,
.e-second-overlay,
.e-third-overlay {
 position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s all;
  border: 5px solid black;
}

.e-first-overlay {
  background-color: #850001;
  z-index: 6;
}

.e-second-overlay {
  background-color: #850001;
  z-index: 4;
}

.e-third-overlay {
  background-color: #850001;
  z-index: 2;
}

div.move-out {
  -webkit-transform: translateY(-100%);
  transform: translateX(100%);
  /*right: 100%;*/
}

button.faded {
  opacity: 0;
  pointer-events: none;
}

.e-btn-next {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: inline-block;
  color: #fff;
  background-color: black;
  border: none;
  outline: none;
  z-index: 10;
  opacity: 1;
  font-size: 36px;
  transition: 2s opacity;
}

.text {
  width: 220px;
  height: 10vh;
  font-size: 22px;
  text-align: center;
  color: #fff;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.c-joke {
  width: 1vw;
  height: 1vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  background-image: url(../img/joke.png);
  background-size: cover;
  transition: 2s all;
}

.c-joke.show {
  width: 90vw;
  height: 50vw;
  opacity: 1;
}

/* Circle */
.circles {
  height: 55vmin;
  width: 55vmin;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}

.circle {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2.5vmin solid transparent;
  border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
  mix-blend-mode: screen;
}
.circle:nth-child(1) {
  border-color: #DB4437;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin1 5.5s linear infinite;
          animation: spin1 5.5s linear infinite;
}
.circle:nth-child(2) {
  border-color: #F4B400;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin2 5.5s linear infinite;
          animation: spin2 5.5s linear infinite;
}
.circle:nth-child(3) {
  border-color: #4285F4;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin3 5.5s linear infinite;
          animation: spin3 5.5s linear infinite;
}
.circle:nth-child(4) {
  border-color: #000;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin4 5.5s linear infinite;
          animation: spin4 5.5s linear infinite;
}

@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  100% {
    -webkit-transform: rotate(-288deg);
            transform: rotate(-288deg);
  }
}
@keyframes spin2 {
  0% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  100% {
    -webkit-transform: rotate(-288deg);
            transform: rotate(-288deg);
  }
}
@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
  100% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
}
@keyframes spin3 {
  0% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
  100% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
}
@-webkit-keyframes spin4 {
  0% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  100% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
}
@keyframes spin4 {
  0% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  100% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
}

.warning {
  color: white;
  font-family: sans-serif;
  text-align: center;
  display: inline-block;
  padding: 50%;
  width: 80%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}

@supports (mix-blend-mode: screen) {
  .warning {
    display: none;
  }
}

* {
  box-sizing: border-box;
}
.loading-indicator {
  -webkit-animation: rotatefull 9s 0s infinite linear forwards;
          animation: rotatefull 9s 0s infinite linear forwards;
  width: 220px;
  height: 220px;
  position: absolute;
  top: calc(50vh - 80px);
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
svg {
  -webkit-animation: scaleup 0.5s 0s 1 ease-in-out forwards;
          animation: scaleup 0.5s 0s 1 ease-in-out forwards;
}
svg circle {
  stroke: #fff;
  fill: none;
}
svg circle:last-of-type {
  opacity: 0;
  stroke: #CCC;
  -webkit-transition: stroke-dashoffset 0.5s ease-out;
  transition: stroke-dashoffset 0.5s ease-out;
}
.complete svg {
  -webkit-animation-name: scaledown;
          animation-name: scaledown;
}
p {
  text-align: center;
  color: #fff;
  display: none;
  font-size: 2rem;
  position: absolute;
  top: calc(50vh - 50px);
  left: 0;
  right: 0;
}
.complete p {
  -webkit-animation: scaledown 0.5s 0s 1 ease-in-out forwards;
          animation: scaledown 0.5s 0s 1 ease-in-out forwards;
}
@-webkit-keyframes rotatefull {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(0);
            transform: translate3d(-50%, 0, 0) rotate(0);
  }
  20% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(72deg);
            transform: translate3d(-50%, 0, 0) rotate(72deg);
  }
  40% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(144deg);
            transform: translate3d(-50%, 0, 0) rotate(144deg);
  }
  60% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(216deg);
            transform: translate3d(-50%, 0, 0) rotate(216deg);
  }
  80% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(288deg);
            transform: translate3d(-50%, 0, 0) rotate(288deg);
  }
  99%,
  100% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(360deg);
            transform: translate3d(-50%, 0, 0) rotate(360deg);
  }
}
@keyframes rotatefull {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(0);
            transform: translate3d(-50%, 0, 0) rotate(0);
  }
  20% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(72deg);
            transform: translate3d(-50%, 0, 0) rotate(72deg);
  }
  40% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(144deg);
            transform: translate3d(-50%, 0, 0) rotate(144deg);
  }
  60% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(216deg);
            transform: translate3d(-50%, 0, 0) rotate(216deg);
  }
  80% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(288deg);
            transform: translate3d(-50%, 0, 0) rotate(288deg);
  }
  99%,
  100% {
    -webkit-transform: translate3d(-50%, 0, 0) rotate(360deg);
            transform: translate3d(-50%, 0, 0) rotate(360deg);
  }
}
@-webkit-keyframes scaleup {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  72% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  84% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  98% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleup {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  72% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  84% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  98% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scaledown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  15% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  60% {
    opacity: 1;
  }
  99%,
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
}
@keyframes scaledown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  15% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  60% {
    opacity: 1;
  }
  99%,
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
}
